{% extends 'base.html' %}


{% block title %}
    Create Note
{% endblock %}

{% block link_head %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/text_entries/css/my_notes.css') }}">
    <!-- Jquery connection -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script>
        $('document').ready(function(){
            $('.copy_link').on('click', function(){
                // Use parents cause there are many clones of this input
                $(this).parent().parent().find('#link').select();
                document.execCommand('copy');
            });
        });
    </script>

{% endblock %}

{% block content %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert alert-danger offset-md-3 col-md-6">
            {{ messages[0] }}..
        </div>
    {% endif %}
    {% endwith %}


    <div class='d-flex justify-content-between align-content-start flex-wrap'>

        {% for note in notes.items %}
            <div class="card m-2" style="width: 18rem;">
                <div class="card-body">
                <h5 class="card-title">{{ note.name[:50] }}</h5>
                <h6 class="card-subtitle mb-2 text-muted"></h6>{% if not note.publicity %} <span class="badge badge-secondary">Public</span> {% else %}<span class="badge badge-success">Private</span> {% endif %}</h6>
                <p class="card-text">{{ note.body[:50] }}</p>
                <a href="{{ url_for('textEntries.note_detail', link=note.link) }}" class="card-link">Details...</a><br>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="link" id="link" value="{{ request.url + '/' + note.link }}">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary copy_link">Copy link</button>    
                    </div>
                </div>
                </div>
            </div>
        {% endfor %}
    </div>



    <div class="container text-right" id="menu">
        <a href="{{ url_for('textEntries.create_note') }}"><img class='right-menu' id='create_icon' src="https://img.icons8.com/doodle/48/000000/plus.png"></a>
        <a {% if 'starred' in request.args %} href="?starred&page={{ notes.prev_num }}" {% else %} href="?page={{ notes.prev_num }}" {% endif %} {% if not notes.has_prev %}class="disabled_page_icon"{% endif %}><img class='right-menu' id='prev_page_icon' src="{{ url_for('static', filename='images/prev_page.png') }}"></a>
        <a {% if 'starred' in request.args %} href="?starred&page={{ notes.next_num }}" {% else %} href="?page={{ notes.next_num }}" {% endif %} {% if not notes.has_next %}class="disabled_page_icon"{% endif %}><img class='right-menu' id='next_page_icon' src="{{ url_for('static', filename='images/next_page.png') }}"></a>
        <div class="dropdown dropleft">
            <a class="" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class='right-menu' id='settings_icon' src="https://img.icons8.com/plasticine/2x/gear.png">
            </a>
          
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            {% if 'starred' in request.args %}
                <a class="dropdown-item" href="{{ url_for('textEntries.my_notes') }}">All Notes</a>
            {% else %}
                <a class="dropdown-item" href="{{ url_for('textEntries.my_notes') }}?starred">Starred Notes</a>
            {% endif %}
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
    </div>

        
{% endblock %}